<div class='comments-create-container create-comments'> 
  <%= render 'comments/create', post: post %>
</div>
<div class='comments-create-container'>   
  <%= render 'comments/index', post: post %>
</div> 