<%= form_with(model:[user, post, comment], class: "add-comment", remote: true) do |form| %>
  <%= form.hidden_field :user_id, value: user.id %>
  <div class="field">
    <%= form.text_area :description, placeholder: "add comment" %> <%= form.submit %>
  </div>
<% end %>
