// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-login{
  .checkbox{
    margin: 12px 0 12px 21px;
    label{
      padding-left: 0;
    }
  }
  #error_explanation{ 
    margin: 20px 0 20px 75px;
  }
  label.control-label-top-30 {
    margin-top: 30px;
  }
  .post-card {
    padding: 0 10px 0px 10px;
    margin: 60px 0 0 0;
  }
  .post_user_details{
    margin: 0 0 0 14px;
    a{
      position: absolute;
      text-decoration: unset;
      cursor: unset;
      font-size: 17px;
      color: #4F4D4D;
      margin: 16px 0 0 60px;
      font-weight: bold; 
      &:hover{
        background-color: unset;
      }
    }
    .img-circle{
      height: 50px;
      position: absolute;
    }
  }
  .user-container {
    padding: 10px 0 20px 0;
    border: 1px solid #BFBFBF;
    background-color: white;
    box-shadow: 10px 10px 5px #aaaaaa;
  }
  .login-btn{
    margin-bottom: 12px;
  }
  .post.avatar-align {
    margin: 0 0 0 108px;
  }
}
.user-signup{
  .avatar-align {
    margin: 0 0 0 110px;
  }
}
.justify-content-center.align-items-center {
  justify-content: center;
  display: flex;
}
.align-middle {
  text-align: center;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0px;
}
.show_posts{
  margin-bottom: 100px;
}
.avatar-align {
  margin-left: 109px;
}
.navbar-default{
  .container-fluid{
    .navbar-header{
      .navbar-brand{
        color: black;
      }
    }
  }
}
.m-0{
  margin: 0;
}
.p-0{
  padding: 0 !important;
}
.f-16{
  font-size: 16px;
}
.field_with_errors {
  padding: 0;
  background-color: unset;
  display: unset;
}
.navbar-default{
  .navbar-brand{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 160px;
    a{
      position: absolute;
      text-decoration: unset;
      cursor: unset;
      font-size: 17px;
      color: darkslategrey;
      margin: 0 0 0 28px;
      &:hover{
        background-color: unset;
      }
    }
    .img-circle{
      height: 25px;
      position: absolute;
    }
  }
}
